/*---| .b-services-pr |----------------------start----------------------------------------*/

.b-services-pr,
.b-services-pr:visited,
.b-services-pr:hover {
  background: url("../imgs/whatis.png") repeat-x left bottom #f6f6f6;

  float: left;
  border: 1px solid #a2a2a2;
  width: 278px;
  height: 179px;
  text-decoration: none;
  text-align: center;
  color: #d93b2b;
  font-weight: bold;
  font-size: 21px;
  *display: inline;
}

.b-services-pr__img {
  display: block;
  background: url("../imgs/b-services-pr.png") no-repeat center -234px;
  height: 138px;
}

.b-services-pr_h {

}

/*===| .b-services-pr |======================end==========================================*/

/*---| .b-services-pr_type_back |----------------------start----------------------------------------*/

.b-services-pr_type_back {
}

.b-services-pr_type_back .b-services-pr__img {

  background: url("../imgs/b-services-pr.png") no-repeat center 20px;

}
/*===| .b-services-pr_type_back |======================end==========================================*/