/*---| .b-product |----------------------start----------------------------------------*/

.b-product {
  width: 180px;
  background: red;
  height: 200px;

}

/*===| .b-product |======================end==========================================*/