/*---| .b-main-menu |----------------------start----------------------------------------*/

.b-main-menu {
  height: 44px;
  background: url("/imgs/b-main-menu.png") repeat-x;
  border-left: #ccced0 1px solid;
  border-right: #ccced0 1px solid;
  .border-radius(3px);
  font-size: 0;
  padding: 0;
}

.b-main-menu__el,
.b-main-menu__el:visited{
  display: inline-block;
  *display: inline;
  *zoom:1;
  color: #ffffff;
  font-size: 15px;
  text-decoration: none;
  vertical-align: top;
  line-height: 44px;
  height: 44px;
  padding: 0 20px;

}

.b-main-menu__el:hover,
.b-main-menu__el_state_active {
  background: rgba(183 ,224,255 , 0.3);
}


/*===| .b-main-menu |======================end==========================================*/