/*---| .b-promo-box |----------------------start----------------------------------------*/

.b-promo-box {
  background: ivory;

}

.b-promo-box__scroll-box {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 660px;
  height:90px;
}

.b-promo-box__scroll-over {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}

.b-promo-box__scroll-item {
  float: left;
  width: 700px;
}

/*===| .b-promo-box |======================end==========================================*/