/*---| .b-carousel |----------------------start----------------------------------------*/

.b-carousel {
  position: relative;
}

.b-carousel__ins {
  overflow: hidden;
  position: relative;
}

.b-carousel__wrap {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 20000em;
  position: relative;
}

.b-carousel__item {
  list-style: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 180px;
  margin-right: 10px;
  *display: inline;
  *zoom: 1;
}

.b-carousel__ins {
  position: relative;
}

/* контролы */

.b-carousel__prev,
.b-carousel__next {
  position: absolute;
  background-image: url("/imgs/b-carousel-arrows.png");
  top: 40px;
  width: 19px;
  height: 46px;
  overflow: hidden;
  text-indent: -99999px;
}

.b-carousel__prev {
  background: #000000;
  left: -20px;
}

.b-carousel__next {
  background: #000000;
  right: -20px;
}

/*===| .b-carousel |======================end==========================================*/