/*---| .b-head-box |----------------------start----------------------------------------*/

.b-head-box {
  background: url("/imgs/b-head-box.png") repeat-x left bottom;
  min-height: 29px;
  border-top: 1px solid #697ba0;
  border-left: 1px solid #465779;
  border-right: 1px solid #465779;
}

.b-head-box__in {
  position: relative;
}

.b-head-box__zone-1 {
  width: 295px;
  overflow: hidden;
  .float();
}

.b-head-box__select-c,
.b-head-box__select-c:visited,
.b-head-box__select-c:hover {
  color: white;
  // font-weight: bold;
  text-decoration: none;
  margin-top: 4px;
  background: url("/imgs/select-arrow.png") no-repeat right 7px;
  padding-right: 20px;
  .float();
}

.b-head-box__select-c-t {
  display: inline-block;

  border-bottom: 1px dashed #0b2f67;
  vertical-align: top;
  font-size: 15px;
  line-height: 16px;
  text-shadow: 0px 1px #0a2f67;
}

.b-head-box__select-c-t b {
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  line-height: 15px;
  border-bottom: 1px dashed #ffffff;
}

/*----*/

.b-head-box__select-c_type-2,
.b-head-box__select-c_type-2:visited,
.b-head-box__select-c_type-2:hover {
  background: url("/imgs/target.png") no-repeat 0 0;
  padding-right: 0;
  padding-left: 22px;
}

.b-head-box__select-c_type-2 {

}

/*----*/

.b-head-box__log-box {
  position: absolute;
  color: white;
  right: 100px;
  font-size: 13px;
  line-height: 1;
  top: 10px;
}

.b-head-box__log-a,
.b-head-box__log-a:hover,
.b-head-box__log-a:visited {
  color: white;
  vertical-align: top;
  text-decoration: none;
  display: inline-block;
  line-height: 12px;
  border-bottom: 1px dashed #ffffff;
  *zoom:1;
  *display: inline;
}

/*===| .b-head-box |======================end==========================================*/