/*---| .b-search |----------------------start----------------------------------------*/

.b-search {

}

.b-search__inp-wrap {
  border: 1px solid #22457b;
  float: left;

}

.b-search__inp {
  padding: 0;
  margin: 0;
  border: none;
  height: 40px;
  line-height: 40px;
  width: 505px;
  padding-left: 14px;
  font-size: 15px;
  color: #a6a6a9;
  float: left;
}

.b-search__btn {
  padding: 0;
  margin: 0;
  border: none;
  float: left;
  cursor: pointer;
  height: 45px;
  width: 100px;
  background: url("/imgs/b-search__btn.png");
  margin-top: -1px;
}

/*===| .b-search |======================end==========================================*/